.who{
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.who h3{
	color: #313131;
	font-size: 15px;
	padding: 15px 30px;
	text-transform: capitalize;
}
.who-detail{
	font-size: 13px;
	color: #969595;
	line-height: 200%;
	padding: 0 30px 20px;
}
.who-img{
	width: 100%;
}
.testi{
	background: transparent;
	padding: 0px 0px;
	padding-left: 0px;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	margin-bottom: 40px;
}
.list-detail{
color: #969595;
}