.form .input-group{
	margin-bottom: 15px;
}
.contact-and-map .section-title{
	font-weight: 400;
	text-align: left;
	margin-bottom: 40px;
}	
#googleMap{
	width: 100%;
	height: 300px;
}
.navbar-header .icon1{
	height :67px;
	width : 135px;
}
